      @font-face {
        font-family: 'myfont';
        src: url(font/vfont.ttf);
      }

      @font-face {
        font-family: myfont;
        src: url(Valorant.ttf);
      }

      * {
        font-family: myfont;
        margin: 0;
        padding: 0;
      }

      .navbar {

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: fixed;
        width: 100%;
        top: 0;
        overflow: hidden;
        height: 85px;
        margin-top: 0;
      }

      .logo img {

        width: 118px;
        height: 71px;

      }

      /* .logo {
        /* border: 4px solid red;
        border-bottom: 5px solid red;
        border-top: 5px solid red; 
        */

      .nav-list {
        width: 100%;
        height: 75px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        /* border: 5px solid red; */
        border-left: 0px solid black;
        border-right: 0px solid black;
        /* border-bottom: 5px solid red; */
      }

      .nav-list li {
        list-style: none;
        padding: 75px;
        font-size: 16px;
      }

      .background {
        background: black;
        background-size: cover;
      }

      .nav-list li a {
        color: white;
        text-decoration: none;
        width: 81px;
        display: flex;
        justify-content: center;
      }

      .nav-list li a:hover {
        text-decoration: none;
        /* background-color: rgb(91, 89, 89); */
        border-radius: 3px;
        text-decoration: underline rgb(194, 85, 13) 5px;
      }

      .search {
        /* border: 5px solid red; */
        padding: 17px;
      }

      #btn {
        /*
        font-size: 17px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 9px;
        background-color: wheat;
        width: 75px;
        color: black;*/

        width: 80px;
        height: 20px;
        margin-top: 5px;
        color: rgb(0, 0, 0);
      }









      /*-----------------------------------------------*/

      :root {
        --text-color: white;
      }

      body {
        background-color: rgb(235, 235, 235);
        margin-top: 100px;
      }

      .carousel-container {
        width: 600px;
        height: 400px;
        position: relative;
        margin: 0 auto;

      }

      .navigation-buttons .previous {
        position: absolute;
        z-index: 10;
        font-size: 25px;
        top: 55%;
        left: 10px;
        font-weight: 700;
      }

      .navigation-buttons .next {
        right: 10px;
        position: absolute;
        font-size: 25px;
        z-index: 10;
        top: 53%;
      }

      .navigation-buttons .nav-btn {
        background: rgba(255, 255, 255, 0.55);
        cursor: pointer;
        border-radius: 50%;
        width: 58px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
      }

      .navigation .nav-btn:hover {
        background: white;
      }

      /*Slider..........*/
      .slider-carousel {
        margin-top: 20px;
        transition: all 0.3s ease-in;

      }

      .slider-carousel img {
        width: 100%;
        transition: all 0.3s ease;
        border: 8px solid white;
      }

      .images {
        position: absolute;
        display: none;
      }

      .main {
        display: block;
      }


      .texts {
        display: inline;
        position: relative;
        z-index: 15;
        display: flex;
        align-items: end;
      }

      .agent_name {
        position: absolute;
        top: 150px;
        right: 150px;
        font-size: 133px;
        color: var(--text-color);
        font-family: "myFont";
        color: rgb(83, 189, 72);
        text-shadow: -3px -3px red;
      }

      p {
        /*of abilities info*/
        /*display: flex;*/
        position: relative;
        /*width: 750px;
        height: 450px;*/
        width: 680px;
        height: 450px;
        margin: 100px 14px;
        padding: 14px 14px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        background-color: antiquewhite;
        box-shadow: 14px 14px 24px black;

      }

      h2 {
        /*of abilities name*/
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-family: myfont;
        font-size: 80px;
        text-shadow: 3px 3px red;
        color: blue;
      }

      .e_video {
        /*of e-abilities video*/
        display: inline;
        position: absolute;
        top: 1095px;
        left: 745px;
        float: right;
        width: 50%;
        
      }

      .q_video {
        /*of e-abilities video*/
        display: inline;
        position: absolute;
        top: 1870px;
        left: 745px;
        float: right;
        width: 50%;
      }

      .c_video {
        /*of e-abilities video*/
        display: inline;
        position: absolute;
        top: 2655px;
        left: 745px;
        float: right;
        width: 50%;
      }

      .x_video {
        /*of e-abilities video*/
        display: inline;
        position: absolute;
        top: 3395px;
        left: 745px;
        float: right;
        width: 50%;
      }


      p#besttext {
        display: flex;
        width: 98%;
        bottom: 30px;
        font-size: 30px;
      }

      li {
        font-size: 50px;
      }


      #astra1 {
        height: 790vh;
        width: 100%;
        background: url(bg/asta\ bg.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
        opacity: 0.9;
      }

      #chamber1 {
        height: 790vh;
        width: 100%;
        background: url(bg/chamber\ bg.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #fade {
        height: 790vh;
        width: 100%;
        background: url(bg/fade.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #omen {
        height: 790vh;
        width: 100%;
        background: url(bg/omen.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #gekko {
        height: 790vh;
        width: 100%;
        background: url(bg/gekko.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #harbour {
        height: 790vh;
        width: 100%;
        background: url(bg/harbour.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #kayo {
        height: 790vh;
        width: 100%;
        background: url(bg/kayo.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #killjoy {
        height: 790vh;
        width: 100%;
        background: url(bg/kj.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #neon {
        height: 790vh;
        width: 100%;
        background: url(bg/neon.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #skye {
        height: 790vh;
        width: 100%;
        background: url(bg/skye.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #breach {
        height: 790vh;
        width: 100%;
        background: url(bg/breach.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #brim {
        height: 790vh;
        width: 100%;
        background: url(bg/brim.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #cypher {
        height: 790vh;
        width: 100%;
        background: url(bg/cypher.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #jett {
        height: 790vh;
        width: 100%;
        background: url(bg/jett.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #phoenix {
        height: 790vh;
        width: 100%;
        background: url(bg/pheonix.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #raze {
        height: 790vh;
        width: 100%;
        background: url(bg/raze.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #reyna {
        height: 790vh;
        width: 100%;
        background: url(bg/reyna.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #sage {
        height: 790vh;
        width: 100%;
        background: url(bg/sage.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #sova {
        height: 790vh;
        width: 100%;
        background: url(bg/sova.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #viper {
        height: 790vh;
        width: 100%;
        background: url(bg/viper.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }

      #yoru {
        height: 790vh;
        width: 100%;
        background: url(bg/yoru.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 2px;
        padding: 2px;
      }


    