@font-face {
    font-family: myfont;
    src: url(Valorant.ttf);
}

* {
    font-family: myfont;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.navbar {

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    height: 54px;
    margin-top: 0;
}

.logo img {

    width: 118px;
    height: 71px;

}

/* .logo {
    /* border: 4px solid red;
    border-bottom: 5px solid red;
    border-top: 5px solid red; 
    */

.nav-list {
    width: 100%;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    /* border: 5px solid red; */
    border-left: 0px solid black;
    border-right: 0px solid black;
    /* border-bottom: 5px solid red; */
}

.nav-list li {
    list-style: none;
    padding: 62px;
}

.background {
    background: black;
    background-size: cover;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    width: 81px;
    display: flex;
    justify-content: center;
}

.nav-list li a:hover {
    text-decoration: none;
    /* background-color: rgb(91, 89, 89); */
    border-radius: 3px;
    text-decoration: underline rgb(194, 85, 13) 5px;
}

.search {
    /* border: 5px solid red; */
    padding: 17px;
}

#search {
    font-size: 17px;
    border: 1px solid black;
    border-radius: 9px;
}

.home {
    /* display: flex;
    width: 100%;
    height: 100vh;
    background: #ccc;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    background-blend-mode: overlay;
    overflow: hidden; */
    /* position: relative; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;

}

.vd {
    text-align: center;
}

.vd h1 {
    font-size: 23px;
    color: #ff0019;
    margin-top: 32px;
}

.vd a {
    font-size: 51px;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid;
    border-radius: 15px;
    transition: 0.3s;
}

.vd a:hover {
    background-color: #000000;
    color: rgb(250, 5, 5);
}

.back-video {
    /* position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.7;
    width: 30px;
    height: 30px; */
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

.ranks {
    background-color: rgb(7, 4, 45);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rankinfo h1 {
    color: red;

    border: red;
    margin: 5px;
}

.head {
    color: rgb(255 1 1);
    font-size: 53px;
    margin: 20px;
    /* background-color: rgb(34, 34, 40); */
    margin-left: 100%;
    margin-right: 100%;
}

.rnkimg img {
    width: 1000px;
    height: 800px;

}

.rnkimg {
    margin: 5px;
}

.ranks p {
    font-style: normal;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}

.wallpaper .box {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ece7e1;
}

.wallpaper h1 {
    text-align: center;
    background-color: #ece7e1;
    color: red;
    font-size: 75px;
}

.wallpaper .box .wall {
    width: 50%;
    background-color: #ece7e1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.wallpaper .box .img img {
    width: 100%;
    height: 100%;
}

.wall a {
    font-size: 23px;
    color: black;
    text-decoration: none;
    padding: 15px;
    border: 5px solid black;
    border-radius: 15px;
    transition: 0.3s;
    margin: 130px;
    margin-top: 20px;

}

.wall a:hover {
    background-color: red;
    /* color: rgb(250, 5, 5); */
}

.wall {
    margin: 3px;
}
.contact{
    background-color: #000000;
    color: #fff;
    text-align: center;
    margin: 1px;
}
.contact h1{
    padding: 20px;
    font-size: 50px;
}
.imga{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
.imga a{
    padding: 10px;
    margin: 20px;
}
.imga a img{
    height: 45px;
}

.aboutus{
    width: 100%;
    height: 50%;
    background-color: bisque;
}
/* responsive */
@media only screen and (max-width:1300px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .search{
        text-align: center;
    }
    .btn{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 72px;
    }
    .v-class{
        opacity: 0;
    }
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15%;
}
.line{
    width: 33px;
    background-color: #000000;
    height: 4px;
    margin: 5px;
}